<% include head %>
<script>
searchForm.keywords.value="<%-keywords%>";
</script>
<div class="row">
	      <div class="col-sm-1"></div>
	      <div class="col-sm-4">
	      	<table class="table table-bordered">
			  <tbody>
			  <% rsGoods.forEach(function(row){ %>
			    <tr>
			      <td rowspan="2"><img style="width: 150px" src='../<%-row.goodsimg%>'/></td>
			      <td>
			      	<%-row.goodsname%><br/>
			      	<%-row.goodsintro%>
			      </td>
			    </tr>
			    <tr>
			    	<td align='right'>
			    		<button type="button" class="btn btn-danger btn-xs">立即购买</button>&nbsp;
			    		<a href="/pay/putshopping?goodsid=<%-row.goodsid%>" target='_blank'><button type="button" class="btn btn-danger btn-xs">放入购物车</button></a>&nbsp;
			    		价格:<%-row.price%>&nbsp;
			    		好评度:<%-row.praise%>&nbsp;
			    		<button type="button" class="btn btn-danger btn-xs">go</button>&nbsp;
			    	</td>
			    </tr>
			  <% }) %>
			  </tbody>
			</table>
	      </div>
	      <div class="col-sm-6" >
	      	<% include searchMap %>
	      </div>
	      <div class="col-sm-1"></div>
</div>
<!-- 模态框（Modal） -->
	    <% include ui/login %>
</body>
</html>
